<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>calculation</servlet-name>
        <servlet-class>calculation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestJava</servlet-name>
        <servlet-class>TestJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestJava1</servlet-name>
        <servlet-class>TestJava1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuth</servlet-name>
        <servlet-class>UserAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuth</servlet-name>
        <servlet-class>AdminAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreat</servlet-name>
        <servlet-class>UserCreat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserTransactions</servlet-name>
        <servlet-class>UserTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>walletFill</servlet-name>
        <servlet-class>walletFill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOperations</servlet-name>
        <servlet-class>AdminOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailServer</servlet-name>
        <servlet-class>mailServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMaintenanceFee</servlet-name>
        <servlet-class>UserMaintenanceFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payFee</servlet-name>
        <servlet-class>payFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>changePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calculation</servlet-name>
        <url-pattern>/calculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestJava</servlet-name>
        <url-pattern>/TestJava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestJava1</servlet-name>
        <url-pattern>/TestJava1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/UserAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuth</servlet-name>
        <url-pattern>/AdminAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreat</servlet-name>
        <url-pattern>/UserCreat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTransactions</servlet-name>
        <url-pattern>/UserTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>walletFill</servlet-name>
        <url-pattern>/walletFill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOperations</servlet-name>
        <url-pattern>/AdminOperations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailServer</servlet-name>
        <url-pattern>/mailServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMaintenanceFee</servlet-name>
        <url-pattern>/UserMaintenanceFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payFee</servlet-name>
        <url-pattern>/payFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
